<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Mercado</mat-card-title>
    <mat-icon>shopping_cart</mat-icon>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content style="border-top-width: 10px; margin-top: 15px;">
    <mat-chip-list>
      <mat-chip id="expense" color="warn" selected>R$ {{expenseValue}}</mat-chip>
      <mat-chip color="primary" selected>R$ 850.00</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-divider>
  </mat-divider>
  <mat-card-actions>
    <div><input id="valor" type="text"/></div>
    <button mat-button (click)="onClickMe()">Details</button>
    <button mat-button>Edit</button>
  </mat-card-actions>
</mat-card>