<!-- <div class="grid-container"> -->
<!-- <mat-grid-list cols="3" rowHeight="2:1"> -->
<mat-grid-list cols="5" rowHeight="4:3">
    <mat-list-item *ngFor="let category of categories">
        <mat-grid-tile>

            <mat-divider></mat-divider>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{category.name}}</mat-card-title>
                    <mat-icon>{{category.iconUI}}</mat-icon>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content style="border-top-width: 10px; margin-top: 15px;">
                    <mat-chip-list>
                        <mat-chip color="warn" selected>R$ {{category.categoryBalances[0].totalExpense}} </mat-chip>
                        <mat-chip color="primary" selected>R$ {{category.categoryBalances[0].plannedExpense}}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-divider>
                </mat-divider>
                <mat-card-actions>
                    <div><input type="text" /></div>
                    <button mat-button (click)="onClickMe()">Details</button>
                    <button mat-button>Edit</button>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
</mat-grid-list>
<!-- </div> -->