.sidenav-container {
  height: 100%;
}

.section-content {
  padding-top: 10pt;
  padding-left: 30pt;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.myIcon {
  background: url('src\assets\images\logo\squirrel_black_Icon40.jpg');
    height: 30px;
    width: 30px;
    margin-left:3px;
    display: block;
}