<h2>Categories</h2>

<mat-divider></mat-divider>
<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <form [formGroup]="formGroup">
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input formControlName="category" matInput />
        </mat-form-field>

        <button mat-icon-button color="primary" aria-label="Add new category" (click)="addCategory(categoryGroups)">
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </form>
    </div>
  </div>
</section>

<!-- </header> -->

<mat-list>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let category of categories">
    <div mat-line><b>{{category.name}}</b>{{ category.hierarchy == 0 ? ' (main)' : ' [level ' + category.hierarchy + ']'}} </div>
    <div mat-line>{{ category.description }}</div>
    <div style="margin-right: 1%">
      <button mat-mini-fab color="disabled" (click)="editCategory(category)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div style="margin-right: 6%">
      <button
        mat-mini-fab
        color="disabled"
        (click)="deleteCategory(category.categoryID)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>

<mat-paginator
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[30, 50, 100]"
  (page)="pageEvent = getCategoriesPerPage($event)"
  aria-label="Select page"
>
</mat-paginator>
