<h2>Categories</h2>

<mat-divider></mat-divider>
<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <form [formGroup]="formGroup">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Search</mat-label>
          <input formControlName="category" matInput type="search" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete">
            <button
              *ngIf="value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="value = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
            <mat-option *ngFor="let item of searchOptions" [value]="item">
              {{ item }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <button mat-icon-button color="primary" aria-label="Add new category">
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</section>

<!-- </header> -->

<mat-list>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let category of categories">
    <div mat-line>{{ category.name }}</div>
    <div mat-line>{{ category.description }}</div>
    <div style="margin-right: 1%">
      <button mat-mini-fab color="disabled" (click)="editCategory(category)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div style="margin-right: 6%">
      <button
        mat-mini-fab
        color="disabled"
        (click)="deleteCategory(category.categoryID)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
